---
import { Vipps } from '../components/Vipps';
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css'

---

<Layout title="Vipps meg" description='Lag din egen vipps-lenke'>
	<main class="max-w-sm mx-auto h-screen pt-10 px-4">
		<Vipps client:load/>
	</main>
</Layout>
